.about-head {
    background-image: url('../img/about/background.png');
    background-size: cover;
    justify-content: flex-end;

    .about-people {
        .number {
            font-size: 48px;
        }
        .name {
            font-size: 16px;
            text-transform: uppercase;
        }
        .people-info {
            padding: 0;
            padding-bottom: 85px;

            .people-number {
                color: #fff;
            }
        }
    }
}
