.feedback-block{
    .feedback {
        display: flex;
        justify-content: space-between;
        padding-bottom: 90px;
        @media screen and (max-width: 320px) {
                 flex-wrap: wrap;
	             flex-direction: row;
                 max-width: 320px;
                 padding-bottom: 30px;
        }
        img {
            cursor: pointer;
            @media screen and (max-width: 320px) {
                 max-height: 95px;
                 margin: 0 5px 30px 5px;
             }
        }
    }
}

.modal-img {
    text-align: center;
}
