.bluemap-block {
    position: relative;
    background-color: #0d47a1;

    &__background {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &__point {
        position: absolute;
        cursor: pointer;
    }

    &__point_usa {
        top: 48%;
        left: 30%;
        width: 65px;
        height: 30px;
        background: url('../img/main/bluemap-block/markerusa.png') center center no-repeat;
    }

    &__point_belarus {
        top: 34.3%;
        left: 52%;
        width: 55px;
        height: 65px;
        background: url('../img/main/bluemap-block/marker-white.png') center center no-repeat;
    }

    &__point_germany {
        top: 41.5%;
        left: 44.3%;
        width: 95px;
        height: 30px;
        background: url('../img/main/bluemap-block/markerger.png') center center no-repeat;
    }

    &__point_russia {
        top: 39%;
        left: 58%;
        width: 80px;
        height: 30px;
        background: url('../img/main/bluemap-block/markerrus.png') center center no-repeat;
    }

    &__point_india {
        top: 56%;
        left: 60.5%;
        width: 80px;
        height: 33px;
        background: url('../img/main/bluemap-block/markerind.png') center center no-repeat;
    }

    &__point_china {
        top: 52%;
        left: 72.5%;
        width: 80px;
        height: 30px;
        background: url('../img/main/bluemap-block/markerchin.png') center center no-repeat;
    }
}

.bluemap-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    position: absolute;
    top: 60px;
    color: #fff;
    z-index: 50;

    &__title {
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    &__title_bold {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__image {
        padding-right: 19px;
    }

    &__text {
        position: relative;
        top: 9px;
    }
}
