.bluemap-block {
    position: relative;
    background-color: #2196f3;

    &__background {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &__point {
        position: absolute;
        cursor: pointer;
        text-transform: uppercase; 
        color: #fff;
    }
    &__point_usa {
        top: 53%;
        left: 25.5%;
        text-transform: uppercase; 
        color: #fff;
    }
    &__point_usa img {
        margin: 0 0 2px 20px;
    }

    &__point_belarus {
        top: 41%;
        left: 53.3%;
    }

    &__point_europe {
        top: 44.4%;
        left: 47.3%;
    }
    &__point_europe img {
        margin: 0 0 2px 12px;
    }

    &__point_russia {
        top: 37%;
        left: 58%;
    }
    &__point_russia img {
        margin: 0 0 2px 12px;
    }

    &__point_asia {
        top: 52%;
        left: 69%;
    }
    &__point_asia img {
        margin: 0 0 2px 3px;
    }
}

.bluemap-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    position: absolute;
    top: 60px;
    color: #fff;
    z-index: 50;

    &__title {
        font-size: 24px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    &__title_bold {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__image {
        padding-right: 19px;
    }

    &__text {
        position: relative;
        top: 9px;
    }
}
