.napravlenie2-block{
	margin-top: 80px;
	.title-row{
		padding-bottom: 40px;
		span,img{
			padding-right: 40px;
		}
		span{
			font-size: 26px;
			color: #0077D6;
		}
		img{
			margin-top: -10px;
		}

	}
	.info-row{
		.text-block{
			padding-top: 20px;
		}
		button{
			width: 160px;
			background-color: #0097F6;

		}
	}

}
