.service-block {
    justify-content: center;

    &-head {
        background: url('../img/services/service-head-bg.png');
        background-size: cover;

    }

    &-avia-head {
        background: url('../img/uslugi/bg.png');
        background-size: cover;
        justify-content: center;
    }

    &-one {
        background: url('../img/services/service-block-one.png');
        height: 100%;
        background-size: contain;
    }

    &-two {
        background: url('../img/services/service-block-two.png');
        height: 100%;
        background-size: cover;
    }

    
}
.service-button  button {
    top: 205px;
}
