.carousel {
    padding: 30px 0;
}

.carousel-control {
    width: 2%;
    color: #2196f3 !important;
}
// .carousel-inner {
//     padding: 20px 0;
//
// }
.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}
