.sfers-block{

	.title-row{
		padding-bottom: 90px;
	
		.title{
			font-size: 28px;
			text-transform: uppercase;
			padding-bottom: 90px;
		}
	}
	
	.item{
		padding-bottom: 32px;
	}
	img{
		min-height: 30px;
	}
	.name{
		vertical-align: middle;
	}
}
