.hod-block {
    
    .row {
        margin: 0;
        padding: 0 0 0 6px;
        
    }
    .hod-part {
        padding: 0;
        .hod {
            width: 90%;
            padding: 0 0 0 20px;
            img {
                margin: -5px 71px 50px 71px;
                vertical-align: baseline;
            }
            p {
                color: #0066D0;
                font-family: 'Ubuntu-Light';
                line-height: 21px;
                text-align: center;
                font-size: 18px;
                margin-bottom: -18px;
            }
        }
    }
}
