.vac-form {
    width: 810px;
    height: 390px;
    background-color: #fff;
    padding: 30px;
    color: #455a64;
    margin: 0 auto;
}
.main-form-vac {
    width: 360px;
}
.mfvlc {
    margin-bottom: 30px !important;
}
.opac {
    opacity: .5;
}
.no-pad {
    padding-left: 0px;
}
.big-inp {
    width: 705px !important;
}