include ./modules/mainpage-head.pug
include ./modules/mainpage-service.pug
include ./modules/mainpage-bluemap.pug
include ./modules/people.pug
include ./modules/about.pug
include ./modules/sfers.pug
include ./modules/clients.pug
include ./modules/feedback.pug
include ./modules/map.pug
include ./modules/modal.pug
include ./modules/modal-img.pug
