include ./modules/service-head.pug
include ./modules/usl_preim.pug
include ./modules/usl-hod.pug
include ./modules/uslugi3.pug
//- include ./modules/bluemap.pug
include ./modules/uslugi4.pug
include ./modules/get-consult.pug
include ./modules/service-feed.pug
//- include ./modules/service.pug
include ./modules/map.pug
include ./modules/modal.pug
