/*
 * Override the variables you want to customize, all variables can refer to:
 *
 * node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 *
 */

$body-bg:               #fff;
$font-family-sans-serif: 'Ubuntu';
$font-size-base: 14px;

$modal-lg: 1127px;
