section.container.info-block
  h2 Сотрудники о компании

section.container-fluid.about-sotrudniki-block
  section.container
    div.col-lg-6
        p.
          «ТВ Логистик» — это настоящий трамплин для демонстрации профессиональных навыков и проявления личности.
        p.
          Влиться можно, только если ты готов расти. <br> И неважно, с каким багажом ты попал в команду, требования компании и коллег всегда будут тянуть тебя вверх.
        p.who <span>Мария Плейфри,</span> в компании с 2012 года
