section.container
  section.about-about-block.info-block
    h2 О нас
    p.
      «ТВ Логистик» — международная логистическая компания, которая была создана в 2009 году в Минске,  и уже работаем в 192 странах мира. 
    p.
      Мы растем, потому что нам не все равно, что и как мы делаем. Наша цель — делать действительно качественный сервис. И мы ищем дружелюбных и усердных людей, которые хотят гордиться тем, что они делают.
    p.
      Для многих сотрудников «ТВ Логистик» стала больше, чем просто работой. У нас люди находят друзей, открывают в себе таланты, строят карьеру — и в конечном счете меняют свою жизнь.
    p.
      Нам не важен ваш пол, возраст, национальность и даже образование. Всему, что вам потребуется, мы научим.  