section.container-fluid
  .container.info-block
    h2 жизнь в офисе
    
  .swiper-container
    .swiper-wrapper
        .swiper-slide 
          img(src="img/about/about-life/s1.png")
        .swiper-slide
          img(src="img/about/about-life/s1.png")
        .swiper-slide
          img(src="img/about/about-life/s1.png")
        .swiper-slide
          img(src="img/about/about-life/s1.png")
        .swiper-slide
          img(src="img/about/about-life/s1.png")
    .swiper-pagination
