section.container-fluid.about-yes-block 
  section.container
    section.info-block
      div.yes-block.col-lg-12.col-md-12.col-sm-12.col-xs-12
          h2.col-lg-8.col-md-8.col-sm-8.col-xs-8 Хотите с нами работать?
          button.btnm(type="button").col-lg-4.col-md-4.col-sm-4.col-xs-4 ДА!
    
