mixin mission(data)
    div.m-item.col-lg-4
      h3.name= data.name
      p.descript= data.descript
section.container
  section.mission-block.info-block
    h2 Наша миссия
    div.mission.row.col-lg-12
      each data in [{name:'Мы стремимся сделать мир лучше',descript:'Постоянно повышаем качество сервиса в области логистики. Мы ведем свой бизнес открыто и развиваем предпринимательство'},{name:'Мы строим большую компанию',descript:'Успех который постоен на профессионализме, саморазвитие и самореализации наших сотрудников'},{name:'Доставляем радость и качественный сервис',descript:'Удовлетворяем потребности клиента и решаем любые задачи, сохраняя при этом высочайшее качество продукта и клиентского сервиса.'}]
        +mission(data)

mixin principle(data)
    div.pr-item.col-lg-4
      h3.name= data.name
      p.descript= data.descript
section.container
  section.principle-block.info-block
    h2 Наши принципы
    div.principle.row.col-lg-12
      each data in [{name:'Честность и открытость',descript:'Мы ничего не скрываем от клиентов и всегда готовы исправлять ошибки. Выполняем на себя обязательства перед сотрудниками. Честны и открыты с партнерами компании. Мы всегда держим слово!'},{name:'Уважение и поддержка',descript:'Мы уважаем любой труд в нашей компании и поддерживаем коллег. Стремимся создать хорошие условия для комфортной работы, профессионального и личного развития сотрудников'},{name:'Нет ничего невозможного',descript:'Только мы сами определяем границы наших возможностей. Мы ставим перед собой большие и амбициозные цели, добиваясь результатов с помощью упорного труда и настойчивости'},{name:'Командный дух',descript:'Наши достижения — результат команды. Мы поддерживаем друг друга и помогаем новым специалистам — только так мы сможем преуспеть.'},{name:'Здоровый образ жизни',descript:'Мы пропагандируем здоровый образ жизни. Активная работы и активный отдых — залог успеха!'},{name:'Отличные возможности',descript:'Наша компания предоставляет возможности для всех. Сделать карьеру благодаря труду и результативности у нам может каждый'}]
        +principle(data)
