mixin client(data)
    li: a(href="#"): img(src="img/main/clients-block/" + data.file alt=data.alt class!=attributes.class)

section.container
  section.clients-block.info-block
    h2 Клиенты
    ul.list-inline.list-inline-margin
        each data in [{file:'1.png',alt:'kronospan'},{file:'2.png',alt:'softform'},{file:'3.png',alt:'keramin'},{file:'4.png',alt:'grimme'},{file:'5.png',alt:'beloboi'},{file:'6.png',alt:'minskajatipographija'}]
            +client(data)
    ul.list-inline
        each data in [{file:'7.png',alt:'ami'},{file:'8.png',alt:'krone'},{file:'9.png',alt:'stroimatinstrument'},{file:'10.png',alt:'minskmetropoliten'},{file:'11.png',alt:'alutech'},{file:'12.png',alt:'industry'}]
            +client(data)



                