section.container-fluid.map-block.contact-head
  div#map.map-map
  section.map-card.contact-map
    p
      span.glyphicon.glyphicon-earphone.map-card__info-icon
      span.map-card__color Телефон/факс: <br><br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | +375 (17) 218 33 26
    p
      span.glyphicon.glyphicon-envelope.map-card__info-icon
      span.map-card__color Электронная почта: <br><br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | info@tvlogistic.by 
    p
      span.glyphicon.glyphicon-map-marker.map-card__info-icon
      span.map-card__color Адрес <br><br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | Республика Беларусь<br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | 220007, г. Минск <br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | ул. Фабрициуса,8Б <br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | корп. 1, пом. 2, каб. 42
