section.bluemap-block.container-fluid
  section.container
    div.bluemap-block-header
        h2.bluemap-block-header__title Работаем уже в 
          span.bluemap-block-header__title_bold 158 странах мира
        p.bluemap-block-header__text
          img.bluemap-block-header__image(src="img/main/bluemap-block/marker.png")
          | &mdash; Наши агенты-партнеры
              
  img.bluemap-block__background(src="img/main/bluemap-block/map_c.png")
  div.bluemap-block__point.bluemap-block__point_belarus.invisible
  div.bluemap-block__point.bluemap-block__point_usa.invisible
  div.bluemap-block__point.bluemap-block__point_germany.invisible
  div.bluemap-block__point.bluemap-block__point_russia.invisible
  div.bluemap-block__point.bluemap-block__point_india.invisible
  div.bluemap-block__point.bluemap-block__point_china.invisible
  
