section.main-menu#main-menu
  .container.main-menu__wrapper
    .main-menu-logo.col-md-4
      .main-menu-logo__image
        a(href='/')
      .main-menu-logo__text
        p.medium ТВ Логистик
        p.not-margin Ваш надежный партнер!
    ul.main-menu-items.col-md-7
      each text in [{page:'Главная',src:'/'},{page:'Направления',src:'/directions'},{page:'Услуги',src:'/servicestwo'},{page:'О нас',src:'/about'},{page:'Вакансии',src:'/vacancies'},{page:'Онлайн-сервисы',src:'/online'},{page:'Контакты',src:'/contacts'}]
        li.main-menu-items__item
          a.main-menu-items__link(href=text.src)= text.page
    .main-menu-lang.col-md-1
      p.main-menu-lang__text ENG
