section.container-fluid.bluemap-block
  div.bluemap-block-header
      h2.bluemap-block-header__title Работаем уже в 
        span.bluemap-block-header__title_bold 158 странах мира
      p.bluemap-block-header__text
        img.bluemap-block-header__image(src="img/main/bluemap-block/marker.png")
        | &mdash; Наши агенты-партнеры
            
  img.bluemap-block__background(src="img/main/bluemap-block/map.svg")
  div.bluemap-block__point.bluemap-block__point_belarus.invisible
    img(src="img/main/bluemap-block/whitemarker.png")
  div.bluemap-block__point.bluemap-block__point_usa.invisible
    img(src="img/main/bluemap-block/bluemarker.png")
    p Америка
  div.bluemap-block__point.bluemap-block__point_europe.invisible
    img(src="img/main/bluemap-block/bluemarker.png")
    p Европа  
  div.bluemap-block__point.bluemap-block__point_russia.invisible
    img(src="img/main/bluemap-block/bluemarker.png")
    p Россия  
  div.bluemap-block__point.bluemap-block__point_asia.invisible
    img(src="img/main/bluemap-block/bluemarker.png")
    p Азия   