section.head-block.video-wrapper.container-fluid
    video.head-block-video(id="video" loop autoplay="autoplay" muted)
      source(src="./video/1.mp4")
    .container
      .query-button#query-button
        
        button.btnm(type="button" data-toggle="modal" data-target="#myModal")
          span ЗАПРОС НА <br/> ПЕРЕВОЗКУ ГРУЗА
      .head-block-footer
        .head-block-footer__info
          p
            span.head-block-footer__icon.glyphicon.glyphicon-earphone
            | +375 (17) 218 33 26
          p
            span.head-block-footer__icon.glyphicon.glyphicon-envelope
            | info@tvlogistic.by 
        .head-block-footer__adress
          p.head-block-footer__light ООО «ТВ Логистик»
          p 
            span.head-block-footer__icon.glyphicon.glyphicon-map-marker
            | Республика Беларусь, Минск ул. Фабрициуса, 8Б, корп.1, пом.2, каб.42
