section.map-block.container-fluid
  div#map.map-map
  section.map-card
    p
      span.glyphicon.glyphicon-earphone.map-card__info-icon
      | +375 (17) 218 33 26
    p
      span.glyphicon.glyphicon-envelope.map-card__info-icon
      | info@tvlogistic.by 
    p
      span.glyphicon.glyphicon-map-marker.map-card__info-icon
      | 220007 <br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | Республика Беларусь
    p
      span.glyphicon.block-info-icon.map-card__none-icon
      | г. Минск <br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | ул. Фабрициуса,8Б <br>
      span.glyphicon.block-info-icon.map-card__none-icon
      | корп. 1, пом. 2, каб. 42
    button.btnm.btnm-small(type="button")
      span НАПИСАТЬ НАМ
