#modalImg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      .modal-body
        section.modal-img
          img(src="img/main/feedback-block/feedback.png" width="300" height="500")
