section.container
	div.napravlenie2-block
		div.row.title-row
			div.col-md-12
				span Беларусь 
				img(src='img/directions/1.png')
				span Европа
		div.row.info-row
			div.col-md-7.text-block
				span В Санкт-Петербург на Западную и Восточную Сибирь, в Забайкалье,В Санкт-Петербург на Западную и Восточную Сибирь, в Забайкалье,В Санкт-Петербург на Западную и Восточную Сибирь, в Забайкалье
			div.col-md-offset-2.col-md-3
				button.btnm.btnm-small(type="button") 
					span ПОДРОБНЕЕ
