section.send-resume-block
    img(src="img/vacancies/pattern.png")
    div.sr-text
        h2.col-lg-10 Хотите с нами работать?
        button(type="button").btn.btn-info.btn-lg.col-lg-2 Отправить резюме