include ./mixsins

-var data = {pageBlock:'service-block service-block-head',title:'комплекс логистических услуг <br/> для малого и крупного бизнеса',text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}

+pageHeader(data)
