section.container-fluid.head-block.service-block.service-block-avia-head
  section.container
    div.dir-text.service-text
        h2 АВИАЦИОННЫЕ ГРУЗОПЕРЕВОЗКИ
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    section#query-button.service-button
      button.btnm(type="button" data-toggle="modal" data-target="#myModal")
        span ЗАПРОС НА <br/> ПЕРЕВОЗКУ ГРУЗА
