section.container-fluid
  .container.info-block
    h2 о нашей работе 
  #carousel.carousel.slide(data-ride='carousel')
    .container
      .carousel-inner
          .item.active
            .row
              .img.col-md-2
                img(src="img/uslugi/usl-slider/s1.png" width="100" height="82")
              .slide-text.col-md-10
                p
                  | Create your online portfolio in minutes
                p
                  | Игорь Матусин, компания «Белобои»
          .item
            .row
              .img.col-md-2
                img(src="img/uslugi/usl-slider/s1.png" width="100" height="82")
              .slide-text.col-md-10
                p
                  | Create your online portfolio in minutes
                p
                  | Игорь Матусин, компания «Белобои»
    a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#carousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
