section.container
  section.hod-block.info-block
    h2 Ход выполнения
    div.row
        div.hod-part.col-lg-4.col-md-4
            img(src="img/uslugi/usl-hod/1.png" alt="first").col-lg-1.col-md-1.special
            div.col-lg-3.col-md-3.hod
                h3 Оформляем документы
                p.
                    Most designers set their type arbitrarily, either by pulling values out 
        div.hod-part.col-lg-4.col-md-4
            img(src="img/uslugi/usl-hod/2.png" alt="second").col-lg-1.col-md-1
            div.col-lg-3.col-md-3.hod
                h3 Осуществляем контроль
                p.
                    Most designers set their type arbitrarily, either by pulling values out 
        div.hod-part.col-lg-4.col-md-4
            img(src="img/uslugi/usl-hod/3.png" alt="third").col-lg-1.col-md-1
            div.col-lg-3.col-md-3.hod
                h3 Осуществляем консультации
                p.
                    Most designers set their type arbitrarily, either by pulling values out             
