section.container
  section.hod-block.info-block
    h2 Ход выполнения
    div.row
        div.hod-part.col-md-3
            div.hod
                img(src="img/uslugi/usl-hod/90x90.png" alt="first")
                p.
                    Lorem ipsum dolor sit amet consectetur  
        div.hod-part.col-md-3
            div.hod
                img(src="img/uslugi/usl-hod/90x90.png" alt="second")
                p.
                    Lorem ipsum dolor sit amet consectetur  
        div.hod-part.col-md-3
            div.hod
                img(src="img/uslugi/usl-hod/90x90.png" alt="third")
                p.
                    Lorem ipsum dolor sit amet consectetur  
        div.hod-part.col-md-3
            div.hod
                img(src="img/uslugi/usl-hod/90x90.png" alt="fourth")
                p.
                    Lorem ipsum dolor sit amet consectetur          
