section.container
  section.preim-block.info-block
    p.
      Компания ООО “ТВ Логистик” осуществляет срочные авиаперевозки грузов в любую точку миру. Нашим клиентам мы гарантируем полную сохранность груза, в том
      числе хрупкого и скоропортящегося, его своевременную доставку, оговоренную по договору. При этом мы берем на себя все заботы о таможенном оформлении, заполнении транспортных накладных, иной документации. Строгий контроль и полная ответственность с нашей стороны обеспечит полное соответствие
      авиаперевозок международным и отечественным правилам к данному виду услуг. Постоянный мониторинг груза обеспечит надежность оказываемых нами услуг, которые мы уже более 5 лет предлагаем нашим клиентам, которым нужно быстро доставить вещи, товары, стройматериалы, корреспонденцию грузовыми авиаперевозчиками по всему миру. 
    h2 Преимущества сервиса
    div.row.col-lg-12.col-md-12
        div.col-lg-6.col-md-6.serv-block
            img(src="img/uslugi/usl_preim/1.png" alt="case").col-lg-2.col-md-2
            div.col-lg-4.col-md-4.serv
                h3 Профессионализм специалистов и внушительный опыт работы. 
                p.
                    Международные перевозки грузов осуществляются нашей компанией более 7 лет. За это время нашей компании удалось создать налаженную транспортную сеть. Мы осуществляем авиаперевозки по всему миру, опираясь на многолетний опыт и профессионализм сотрудников.
        div.col-lg-6.col-md-6.serv-block
            img(src="img/uslugi/usl_preim/2.png" alt="network").col-lg-2.col-md-2
            div.col-lg-4.col-md-4.serv
                h3 Обширная сеть представительств и партнеров-агентов
                p.
                    Сегодня перевозки осуществляются в такие страны Европа—Беларусь, Россия – Беларусь, Прибалтика — Беларусь, Европа – Россия, Прибалтика – Россия, Европа – Казахстан и Средняя Азия, Прибалтика – Казахстан и Средняя Азия, Украина – Беларусь, Прибалтика – Украина, перевозки внутри Европы.
    div.row.col-lg-12.col-md-12
        div.col-lg-6.col-md-6.serv-block
            img(src="img/uslugi/usl_preim/3.png" alt="hands").col-lg-2.col-md-2
            div.col-lg-4.col-md-4.serv
                h3 Выгодные условия делового сотрудничества.
                p.
                    Мы предлагаем помощь в сфере транспортировки груза по выгодным ценам. Наша компания устанавливает конкурентоспособные тарифы, предоставляя скидки постоянным клиентам и крупным заказчикам. Заказав у нас транспортировку груза авиатранспортом, вы высоко оцените гибкость предоставления поддержки.
        div.col-lg-6.col-md-6.serv-block
            img(src="img/uslugi/usl_preim/4.png" alt="shield").col-lg-2.col-md-2
            div.col-lg-4.col-md-4.serv
                h3 Гарантия надежности и сохранности перевозимых товаров
                p.
                    Мы осуществляем перевозку с возможностью страховки. На всем пути следования наши экспедиторы проверяют точность и безопасность погрузочно-разгрузочных работ. У вас всегда есть возможность самостоятельно отследить путь перемещения вашего груза. 
