mixin uslugi4Item(item)
	div.row.item-row
		div.col-md-12
			div.row
				div.col-md-3
					img(src='img/uslugi/usl-cargo/'+item.src+'.png')
				div.col-md-9.name-block
					span.name=item.name

mixin uslugi4List(list)
		div.col-md-6
			each item in list
				+uslugi4Item(item)



div.container
	section.uslugi4-block
		div.row.title-row
			div.col-md-12.info-block
				h2 виды грузов
		div.row
			+uslugi4List([{src:'1',name:'почта,документы и корреспонденция'},{src:'2',name:'малогабаритные грузы'},{src:'3',name:'сыпучие и навалочные товары'},{src:'4',name:'температурные и скоропортящиеся грузы'}])
			+uslugi4List([{src:'5',name:'опасные грузы'},{src:'6',name:'сборные грузы'},{src:'7',name:'крупногабаритные и тяжеловесные грузы'},{src:'8',name:'перевозка автомобилей'}])
		
