
include ./mixsins
section.container
    div.row.info-block
            h2 Наши направления
section.container-fluid
  section.uslugi3-block
    
    div.row
      each data in [{src: 'img/main/service/1.png',name:'россия',descript:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  '},{src: 'img/main/service/1.png',name:'европа',descript:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  '},{src: 'img/main/service/1.png',name:'азия',descript:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor '},{src: 'img/main/service/1.png',name:'америка',descript:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor '}]
        +serviceCard(data,'4')


      
