section.container
  section.vacancies-block
    h1 Вакансии
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    article
      h2 Экспедитор по железнодорожным перевозкам
      p.
          Мы предлагаем Вам стать частью наших амбициозных планов и занять позицию экспедитора по железнодорожным перевозкам.
      h3 Требования к кандидату:
      ul
          li обработка запросов;
          li оформление транспортных заказов, сопровождение грузоперевозок;
          li работа с документацией;
          li работа с дебиторской задолженностью;
          li поиск и привлечение новых потребителей и поставщиков.
      h3 Желательно:
      ul
          li наличие высшего образования;
          li опыт в сфере транспорта и логистики по ж/д перевозкам- не менее 3 лет;
          li наличие компетенций оперативной работы с клиентами и поставщиками в области ж/д перевозок, ускоренными поездами из Китая, комбинированными поставками;
          li уверенный ПК-пользователь;
          li наличие таких личностных качеств как, порядочность, стрессоустойчивость, коммуникабельность, умение работать в команде;
          li знание английского языка не ниже intermediate.
    article
      h2 Экспедитор по авиационным перевозкам
      p.
          Мы предлагаем Вам стать частью наших амбициозных планов и занять позицию экспедитора по железнодорожным перевозкам.
      h3 Требования к кандидату:
      ul
          li обработка запросов;
          li оформление транспортных заказов, сопровождение грузоперевозок;
          li работа с документацией;
          li работа с дебиторской задолженностью;
          li поиск и привлечение новых потребителей и поставщиков.
      h3 Желательно:
      ul
          li наличие высшего образования;
          li опыт в сфере транспорта и логистики по ж/д перевозкам- не менее 3 лет;
          li наличие компетенций оперативной работы с клиентами и поставщиками в области ж/д перевозок, ускоренными поездами из Китая, комбинированными поставками;
          li уверенный ПК-пользователь;
          li наличие таких личностных качеств как, порядочность, стрессоустойчивость, коммуникабельность, умение работать в команде;
          li знание английского языка не ниже intermediate.
